@font-face {
  font-family: 'DosisNormal';
  src: url('fonts/Exo/Exo-Light.ttf') format('truetype');
  /*URL to font*/
}

@font-face {
  font-family: 'DosisBold';
  src: url('fonts/Exo/Exo-Medium.ttf')  format('truetype');
  /*URL to font*/
}

@font-face {
  font-family: 'Nasalization';
  src: url('fonts/nasalization-rg.ttf')  format('truetype');
  /*URL to font*/
}
*, *:before, *:after {
    box-sizing: border-box;
}

body {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#impressCurrent {
  width: 99vw;
  display: flex;
  height: 99vh;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

.impressCurtain{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
