/* RESET DEFAULT css settings */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
  /* You should add some other style for :focus to help UX/a11y */
}

/* Setting up global properties */
:root {
  --dangerColor: #d33a2c;
  --currentColor: #ffff99;
  --textOnDark: #222;
  --textOnLight: #222;
}

body {
  width: auto;
  margin: 0px;
  padding: 0px;
}

/* LAYOUT divs */
#container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

#topbox {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden
}

#main {
  height: calc(100vh - 72px - 72px);
  width: 100%;
  display: flex;
  overflow-y: hidden;
}

#footer {
  height: 72px;
  padding: 10px;
}

#content {
  height: calc(100vh - 72px - 72px);
  overflow-y: hidden;
  width: 70vw;
  padding: 5px 10px;
}

#sidebar {
  height: 100%;
  width: 30vw;
  padding: 0px 10px;
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

/* FUNCTIONAL DIVS with IDs */
#infobox {
  flex: 4 0 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#contentCard {
  height: 95%;
  width: 100%;
  margin: 0px;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

#currentSlideDiv {
  flex: 1 1 auto;
  width: 70vw;
  height: 70vh;
  /* This maintains 4:3 aspect ratio */
  position: relative;
}

#allSlidesDiv {
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  position: relative;
  overflow-y: scroll;
}

#impressCurrent {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#drivePage {
  width: 100%;
  display: flex;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tabs {
  height: 52px;
}

#footer .presentationInfo {
  margin: 0px;
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

#bigTimer {
  font-size: 2.0rem;
}

#smallTimer {
  font-size: 1.0rem;
}

#mediaControlsDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  min-width: 300px;
  width: 50%;
}

#audioVideoSlider {
  min-width: 300px;
}

.additionalControls {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  min-height: 75px;
  min-width: 215px;
  height: 20%;
  overflow-x: hidden;
}

/* WEBVIEW settings */
.nextSlide {
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 25vw;
  height: 25vh;
  /* This maintains 4:3 aspect ratio */
}

.slidesPreview {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.impressCurtain {
  /* Hack to bypass default impress.js events on previews */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-table {
  padding: 0px;
}

/* BUTTTONS etc. */
.danger {
  color: var(--textonDark);
  background-color: var(--dangerColor);
}

.impressControlBtns {
  display: none;
  color: var(--textOnDark);
}

.running .impressControlBtns {
  display: flex;
}

.imp-ui-text, .label {
  -webkit-user-select: none;
}

.topButtons {
  flex: 0 1 auto;
}

.btn:hover *, .btn:hover, .tab:hover, #projectionTimer {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* GRID for allSlides Navigation */
.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  min-height: 50px;
  overflow: hidden;
  min-width: 20%;
  flex: 1 1 30%;
  text-align: center;
}

.grid-item.current {
  font-weight: bold;
  background-color: var(--currentColor);
  color: var(--textonDark);
}

.grid-item.future {
  cursor: pointer;
}

.grid-item.future:hover {
  background-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  color: var(--textonDark);
}

/* DIALOGs (exit...) */
#exitDialog h4, #exitDialog p {
  text-align: center;
}

#exitDialog .exitBtns {
  margin: 0 auto;
}

#exitDialog {
  padding: 20px;
}