*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

body {
  width: auto;
  margin: 0px;
}

#container {
  /*  overflow-x: hidden;*/
  box-sizing: border-box;
}

#topbox {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

#content {
  flex: 4 1 70%;
}

#sidebar {
  flex: 1 1 25%;
}

#infobox {
  flex: 4 0 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#main {
  width: 100%;
  display: flex;
}

#gameTables {
  padding: 0px 10px;
}

#currentSlideDiv {
  width: 100%;
  padding-bottom: 75%;
  /* This maintains 4:3 aspect ratio */
  position: relative;
}

#allSlidesDiv {
  width: 100%;
  padding: 20px 20px;
  position: relative;
}

#impressCurrent {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#drivePage {
  width: 100%;
  display: flex;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nextSlide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 75%;
  /* This maintains 4:3 aspect ratio */
}

.slidesPreview {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.impressCurtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-table {
  padding: 0px;
}

.danger {
  background-color: #cc3300;
}

x-dialog h4, x-dialog p {
  text-align: center;
}

x-dialog x-buttons {
  margin: 0 auto;
}

x-dialog {
  padding: 20px;
}

.impressControlBtns {
  display: none;
}

.running .impressControlBtns {
  display: flex;
}

.running #openFile {
  display: none;
}

.imp-ui-text, x-label {
  -webkit-user-select: none;
}

#bigTimer {
  font-size: 4.0em;
}

#smallTimer {
  font-size: 1.5em;
}

.sideInfo {
  text-align: center;
  color: #DDD;
  font-weight: bold;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.topButtons {
  flex: 0 1 auto;
}

.grid-item.current {
  font-weight: bold;
  background: gray;
  color: white;
}

.grid-item.future {
  cursor: pointer;
}

.grid-item.future:hover {
  background-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  ;
  color: white;
}

x-button:hover *, x-button:hover, x-tab:hover, #projectionTimer {
  cursor: pointer;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 5px;
  min-height: 50px;
  overflow: hidden;
  min-width: 20%;
  flex: 1 1 30%;
  text-align: center;
}

.hidden {
  display: none;
}
