body{

  background-color: #212121;
}
#topbox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#infobox {
  flex: 4 0 70%;
  padding-right: 30px;
  display: flex;
}

#infobox div, #projectorControls {
  flex: 1 1 auto;
}

#top-buttons {
  flex: 1 1 25%;
}

#main {
  width: 100%;
  display: flex;
}

#content {
  flex: 4 0 70%;
  padding-right: 30px;
}

#sidebar {
  flex: 1 1 25%;
}

#currentSlideDiv, #allSlidesDiv {
  min-height: 600px;
  height: 100%;
  position: relative;
}

#impressCurrent {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#drivePage {
  width: 100%;
  display: flex;
  height: 600px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nextSlide {
  min-height: 240px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

.slidesPreview {
  width: 100%;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-table {
  padding: 15px;
}

.danger {
  background-color: #ff8a65;
}

x-dialog h4, x-dialog p {
  text-align: center;
}

x-dialog x-buttons {
  margin: 0 auto;
}

x-dialog {
  padding: 20px;
}

#impress-control-buttons {
  display: none;
}

.running #impress-control-buttons {
  display: block;
}

.running #openFile {
  display: none;
}
.imp-ui-text, x-label{
      -webkit-user-select:none;
  }
