#topbox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#infobox{
	flex: 4 0 70%;
  padding-right: 30px;
	display:flex;
}
#infobox div, #projectorControls{
	flex: 1 1 auto;
}
#top-buttons {
  flex: 1 1 25%;
}

#main {
  width: 100%;
  display: flex;
}

#content{
	flex: 4 0 70%;
  padding-right: 30px;
}

#sidebar {
  flex: 1 1 25%;
}
#currentSlideDiv, #allSlidesDiv{
  min-height:800px;
}
.nextSlide{
  width: 360px;
  height: 200px;
}
.slidesPreview{
overflow: hidden;
position: relative;
}
.content-table{
  padding: 15px;
}
.danger{
	background-color: #ff8a65;
}
x-dialog h4, x-dialog p{
  text-align: center;
}
x-dialog x-buttons{
    margin: 0 auto;
}
x-dialog{
  padding:20px;
}
