body{
  font-family: "Dosis", sans-serif;
  background: url("./background.jpg") no-repeat black;
  background-size: 100% 100%;
}

.step {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  /*top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;*/
  /*
  min-width: 75vw;
  max-width: 100vw;
  width: auto;
  height: 100vh;*/
}

.step h1 {
  font-family: "Teko", sans-serif;
  width: 100%;
  flex: 1 0 100%;
  color: black;
  background-color: white;
  text-align: left;
  font-size: 2.5em;
  margin: 0;
  padding: 10px;
  top: 0px;
}

.step h2, .step h3 {
  font-family: "Teko", sans-serif;
  width: 100%;
  flex: 0 1 100%;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 2.0em;
  margin: 0;
  padding: 10px;
}

.step p, .step ul, .step ol{
  flex: 1 1 20%;
  padding: 5px;
  margin: 5px;
  max-width: 50vw;
  max-height: 90vh;
  font-size: 2.0em;
  color:white;
  background: rgba(0,0,0,0.85);
  list-style-position: inside;
}

.step p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: space-around;
}

.step p img {
  padding: 0px;
  border: 5px solid white;
  max-width: 90%;
  width: 1px;
  height: auto;
  min-width: 50%;
  flex: 1 1 90%;
  margin: 5px;
}

.step ol li, .step ul li{
  margin-bottom: 0.2em;
}

.answer, .step h3{
  background: rgba(0,0,0,0.85);
  color: lightgreen;
}
.picanswer{
position: relative;
margin-top: -2.0em;
background-color: rgba(0,0,0,0.85);
color: lightgreen;
}

@media all and (min-height: 600px) {
  body {
    font-size: 14px;
  }
}

@media all and (min-height: 700px) {
  body {
    font-size: 16px;
  }
}

@media all and (min-height: 800px) {
  body {
    font-size: 18px;
  }
}

@media all and (min-height: 900px) {
  body {
    font-size: 20px;
  }
}

@media all and (min-height: 1000px) {
  body {
    font-size: 22px;
  }
}

@media all and (min-height: 1100px) {
  body {
    font-size: 24px;
  }
}

@media all and (min-height: 1200px) {
  body {
    font-size: 26px;
  }
}

@media all and (min-height: 1300px) {
  body {
    font-size: 28px;
  }
}

@media all and (min-height: 1400px) {
  body {
    font-size: 30px;
  }
}

@media all and (min-height: 1500px) {
  body {
    font-size: 32px;
  }
}

@media all and (min-height: 1500px) {
  body {
    font-size: 34px;
  }
}

@media all and (min-height: 1600px) {
  body {
    font-size: 36px;
  }
}

@media all and (min-height: 1700px) {
  body {
    font-size: 38px;
  }
}
